.loader-wrapper{
  width: 100%;
  height: calc(100vh - var(--header-height) - 10px); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader{
  margin: 20px auto;
}

.fade-enter{
  opacity: 0;
}

.fade-enter-active{
  opacity: 1;
  transition: opacity var(--card-fade-duration);
}

.no-list-text{
  text-align: center;
  margin: 20px auto;
  font-size: 1.2em;
}

.list-title-wrapper{
  min-height: 55px;
  padding-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.list-title{
  margin: 0px 15px; 
  font-weight: 400;
}

.list-title-icon{
  font-size: 1.5em;
}

.list-title-input{
  height: 30px;
  margin: 0px 10px;
  padding-left: 7px;
  box-sizing: border-box;
  font-family: Montserrat;
  border-radius: var(--border-radius-1);
}

.list-title-input-pearlShores{
  border: 1px solid var(--pearlShores-bg-2);
  color: var(--pearlShores-text-2);
  background-color: var(--pearlShores-bg-5);
}

.list-title-input-midnight{
  border: 1px solid var(--midnight-bg-2);
  color: var(--midnight-text-2);
  background-color: var(--midnight-bg-5);
}

.list-title-input-bubblegum{
  border: 1px solid var(--bubblegum-bg-2);
  color: var(--bubblegum-text-2);
  background-color: var(--bubblegum-bg-5);
}

.list-title-input-blueLagoon{
  border: 1px solid var(--blueLagoon-bg-2);
  color: var(--blueLagoon-text-2);
  background-color: var(--blueLagoon-bg-5);
}

.list-title-input-deepOcean{
  border: 1px solid var(--deepOcean-bg-2);
  color: var(--deepOcean-text-2);
  background-color: var(--deepOcean-bg-5);
}

.input-invalid-text{
  margin: 10px 12px 0px;
  font-size: 0.73em;
}

.input-invalid-text-pearlShores{
  color: var(--pearlShores-text-error-1);
}

.input-invalid-text-midnight{
  color: var(--midnight-text-error-1);
}

.input-invalid-text-bubblegum{
  color: var(--bubblegum-text-error-1);
}

.input-invalid-text-blueLagoon{
  color: var(--blueLagoon-text-error-1);
}

.input-invalid-text-deepOcean{
  color: var(--deepOcean-text-error-1);
}

.button{
  width: 150px;
  margin: 10px auto;
  display: block;
}

@media (max-width: 400px) {
  .button {
    width: 95%;
  }
}

.note-header{
  margin: 10px 0px; 
  font-weight: 400;
  text-align: center;
}

.note{
  width: 99%;
  height: 85px;
  margin: 5px auto;
  display: block; 
  box-sizing: border-box;
  resize: none; 
  font-family: Montserrat;
  font-size: 0.9em;
}

.note-pearlShores{
  border: 1px solid var(--pearlShores-bg-2);
  color: var(--pearlShores-text-2);
  background-color: var(--pearlShores-bg-5);
}

.note-midnight{
  border: 1px solid var(--midnight-bg-2);
  color: var(--midnight-text-2);
  background-color: var(--midnight-bg-5);
}

.note-bubblegum{
  border: 1px solid var(--bubblegum-bg-2);
  color: var(--bubblegum-text-2);
  background-color: var(--bubblegum-bg-5);
}

.note-blueLagoon{
  border: 1px solid var(--blueLagoon-bg-2);
  color: var(--blueLagoon-text-2);
  background-color: var(--blueLagoon-bg-5);
}

.note-deepOcean{
  border: 1px solid var(--deepOcean-bg-2);
  color: var(--deepOcean-text-2);
  background-color: var(--deepOcean-bg-5);
}

.note-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-footer-invalid-pearlShores{
  color: var(--pearlShores-text-error-1);
}

.note-footer-invalid-midnight{
  color: var(--midnight-text-error-1);
}

.note-footer-invalid-bubblegum{
  color: var(--bubblegum-text-error-1);
}

.note-footer-invalid-blueLagoon{
  color: var(--blueLagoon-text-error-1);
}

.note-footer-invalid-deepOcean{
  color: var(--deepOcean-text-error-1);
}

.note-footer-text{
  margin: 0px 7px;
  font-size: 0.8em;
}