.shop-name-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop-name{
  margin-left: 10px;
  font-weight: 400;
}

.icons-wrapper{
  display: flex;
  align-items: center;
}

.shop-name-icon{
  font-size: 1.5em;
}

.product-enter{
  opacity: 0;
}

.product-enter-active{
  opacity: 1;
  transition: opacity var(--edit-list-fade-duration);
}

.product-exit{
  opacity: 1;
}

.product-exit-active{
  opacity: 0;
  transition: opacity var(--edit-list-fade-duration);
}

.button{
  width: 150px;
  margin: 10px auto;
  display: block;
}

@media (max-width: 400px) {
  .button {
    width: 95%;
  }
}