.loader-wrapper{
  width: 100%;
  height: calc(100vh - var(--header-height) - 10px); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader{
  margin: 20px auto;
}

.fade-enter{
  opacity: 0;
}

.fade-enter-active{
  opacity: 1;
  transition: opacity var(--card-fade-duration);
}

.account-group-title{
  margin: 15px auto;
  font-weight: 400;
  text-align: center;
}

.separator{
  margin-bottom: 20px;
}

.account-actions-wrapper{
  margin: 25px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.account-action{
  width: 150px;
}

@media (max-width: 400px){
  .account-actions-wrapper{
    height: 100px;
    flex-direction: column;
  }

  .account-action{
    width: 95%;
  }
}

.lists-number-wrapper{
  width: fit-content;
  padding: 10px 20px;
  display: flex;
}

.lists-number{
  display: inline-block;
  margin: 10px auto; 
  text-align: center;
  font-size: 3.6em;
}

.stats-wrapper{
  margin: 20px auto 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lists-text{
  text-align: center;
}

@media (max-width: 600px){
  .stats-wrapper{
    flex-direction: column;
  }
}