.page{
  overflow-x: hidden;
}

.title-fullscreen-wrapper{
  width: 100%;
  min-height: calc(100vh - var(--header-height));

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-inner-wrapper{
  max-width: 1100px;
  width: 100%; 
  height: 400px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-inner-wrapper img{
  height: 338px;
}

.title-text-wrapper{
  flex-basis: 55%;
  user-select: none;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.title-text-wrapper h1{
  margin: 10px; 
  font-size: 10em;
  font-weight: 500;
  display: inline-block;
  color: transparent;
  background-image: linear-gradient(45deg, #00c6ff, var(--midnight-accent-3));
  background-clip: text;
}

.title-text-wrapper p{
  margin: 10px 10px 10px 14px;
  font-size: 3em;
  font-weight: 200;
}

.action-button{
  width: 200px;
  height: 65px;
  font-size: 1.4em;
  justify-content: space-around;
  transition: box-shadow 150ms, color 150ms, background-color 150ms, border-color 150ms;
}

.action-button:hover{
  background-color: #0ea9dd;
  border-color: #0ea9dd;
  box-shadow: 0px 0px 15px 3px #0ea9dd;
  color: var(--midnight-bg-5)
}

@media (max-width: 1100px) {
  .title-inner-wrapper{
    height: 55%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .title-inner-wrapper img{
    height: 200px;
  }

  .title-text-wrapper{
    width: 100%;
    flex-basis: 250px;
  }

  .title-text-wrapper h1{
    align-self: center;
    font-size: 5.5em;
  }

  .title-text-wrapper p{
    align-self: center;
    width: 470px;
    margin-top: 0px;
    font-size: 2.5em;
  }
}

@media (max-width: 700px) {
  .title-inner-wrapper{
    height: 50%;
  }

  .title-inner-wrapper img{
    height: 150px;
  }

  .title-text-wrapper{
    flex-basis: 200px;
  }

  .title-text-wrapper h1{
    font-size: 4.5em;
  }

  .title-text-wrapper p{
    width: 380px;
    font-size: 2em;
  }

  .action-button{
    width: 180px;
    height: 55px;
    font-size: 1.2em;
  }
}

@media (max-width: 450px) {
  .title-inner-wrapper{
    height: 40%;
  }

  .title-inner-wrapper img{
    height: 120px;
  }

  .title-text-wrapper{
    flex-basis: 150px;
  }

  .title-text-wrapper h1{
    font-size: 3.5em;
  }

  .title-text-wrapper p{
    width: 280px;
    font-size: 1.5em;
  }

  .action-button{
    width: 160px;
    height: 50px;
    font-size: 1em;
  }
}

.features-fullscreen-wrapper{
  width: 100%;
  min-height: calc(100vh - var(--header-height) - 5px);
}

.spacer{
  height: 70px;
}

.footer{
  height: var(--footer-height);
  width: 100%;
  position: absolute; 
  bottom: 0px;
  left: 0px;
  background-color: var(--midnight-bg-4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer i{
  margin-left: 5px;
  font-size: 2em;
}