.button-wrapper{
  width: 20%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.element{
  height: 100%;
  width: 20%;
  border: none;
  font-size: 1.8em;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  transition: background-color var(--theme-change-duration), color var(--theme-change-duration);
}

.button{
  width: 100%; 
}

.link-pearlShores{
  color: var(--pearlShores-text-1);
}

.link-pearlShores:hover{
  color: var(--pearlShores-accent-1);
  background-color: var(--pearlShores-bg-4);
}

.link-active-pearlShores{
  color: var(--pearlShores-text-2);
  background-image: linear-gradient(0deg, var(--pearlShores-accent-1), var(--pearlShores-accent-3));
}

.link-midnight{
  color: var(--midnight-text-2);
}

.link-midnight:hover{
  color: var(--midnight-accent-1);
  background-color: var(--midnight-bg-4);
}

.link-active-midnight{
  color: var(--midnight-text-2);
  background-image: linear-gradient(0deg, var(--midnight-accent-1), var(--midnight-accent-3));
}

.link-bubblegum{
  color: var(--bubblegum-text-1);
}

.link-bubblegum:hover{
  color: var(--bubblegum-accent-1);
  background-color: var(--bubblegum-bg-4);
}

.link-active-bubblegum{
  color: var(--bubblegum-text-2);
  background-image: linear-gradient(0deg, var(--bubblegum-accent-1), var(--bubblegum-accent-3));
}

.link-blueLagoon{
  color: var(--blueLagoon-text-1);
}

.link-blueLagoon:hover{
  color: var(--blueLagoon-accent-1);
  background-color: var(--blueLagoon-bg-4);
}

.link-active-blueLagoon{
  color: var(--blueLagoon-text-2);
  background-image: linear-gradient(0deg, var(--blueLagoon-accent-1), var(--blueLagoon-accent-3));
}

.link-deepOcean{
  color: var(--deepOcean-text-1);
}

.link-deepOcean:hover{
  color: var(--deepOcean-accent-1);
  background-color: var(--deepOcean-bg-4);
}

.link-active-deepOcean{
  color: var(--deepOcean-text-2);
  background-image: linear-gradient(0deg, var(--deepOcean-accent-1), var(--deepOcean-accent-3));
}
