.wrapper{
  width: 300px;
  height: 300px;
  margin: auto;
}

.wrapper-midnight{
  background-color: var(--midnight-bgcolor-1);
  color: var(--midnight-textcolor-1);
}

.wrapper-midnight:hover{
  background-color: rgba(56, 54, 54, 0.512);
}

.wrapper-pearlShores{
  background-color: var(--pearlShores-bgcolor-1);
  color: var(--pearlShores-textcolor-1);
}

.wrapper-pearlShores:hover{
  background-color: rgba(176, 25, 25, 0.512);
}