.loader-wrapper{
  width: 100%;
  height: calc(100vh - var(--header-height) - 10px); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader{
  margin: 20px auto;
}

.fade-appear{
  opacity: 0;
}

.fade-appear-active{
  opacity: 1;
  transition: opacity var(--card-fade-duration);
}

.header{
  margin: 10px auto; 
  text-align: center;
  font-weight: 400;
}

.header + p{
  text-align: center;
}

.list-counters-wrapper{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.lists-wrapper > p{
  text-align: center;
}

.actions{
  max-width: 400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.actions a {
  width: 150px;
  margin: 15px auto 10px; 
}

@media (max-width: 400px) {
  .actions{
    flex-direction: column;
  }

  .actions a {
    width: 95%;
  }
}