.loader-wrapper{
  width: 100%;
  height: calc(100vh - var(--header-height) - 10px); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader{
  margin: 20px auto;
}

.fade-enter{
  opacity: 0;
}

.fade-enter-active{
  opacity: 1;
  transition: opacity var(--card-fade-duration);
}

.title{
  font-weight: 400;
  text-align: center;
}

.add-shop-button{
  min-height: 32px;
  min-width: 140px;
  margin: 10px auto;
  display: block;
}

.no-shops-text{
  text-align: center;
  margin: 10px 0px 20px;
}