.button{
  background-color: transparent;
  border: none; 
  text-decoration: none;
  cursor: pointer;
}

.button i{
  width: 100%; 
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-pearlShores{
  color: var(--pearlShores-accent-1); 
}

.button-pearlShores:hover{
  color: var(--pearlShores-accent-2); 
}

.button-midnight{
  color: var(--midnight-accent-1); 
}

.button-midnight:hover{
  color: var(--midnight-accent-2); 
}

.button-bubblegum{
  color: var(--bubblegum-accent-1); 
}

.button-bubblegum:hover{
  color: var(--bubblegum-accent-2); 
}

.button-blueLagoon{
  color: var(--blueLagoon-accent-1); 
}

.button-blueLagoon:hover{
  color: var(--blueLagoon-accent-2); 
}

.button-deepOcean{
  color: var(--deepOcean-accent-1); 
}

.button-deepOcean:hover{
  color: var(--deepOcean-accent-2); 
}
