.element{
  background-color: transparent;
  border: none; 
  text-decoration: none;
  cursor: pointer;
}

.element i{
  width: 100%; 
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.element-pearlShores{
  color: var(--pearlShores-accent-1); 
}

.element-pearlShores:hover{
  color: var(--pearlShores-accent-2); 
}

.element-midnight{
  color: var(--midnight-accent-1); 
}

.element-midnight:hover{
  color: var(--midnight-accent-2); 
}

.element-bubblegum{
  color: var(--bubblegum-accent-1); 
}

.element-bubblegum:hover{
  color: var(--bubblegum-accent-2); 
}

.element-blueLagoon{
  color: var(--blueLagoon-accent-1); 
}

.element-blueLagoon:hover{
  color: var(--blueLagoon-accent-2); 
}

.element-deepOcean{
  color: var(--deepOcean-accent-1); 
}

.element-deepOcean:hover{
  color: var(--deepOcean-accent-2); 
}
